$background-color-main: #FFFAFA
$border-color: #e4e1e1
$dark-color: #0D0D0D
$light-color: #FFFFFF
$opaque-light-color: rgba(250,250,250, 0.5)
$opaque-yellow: rgba(218, 181, 0, 0.5)
$font-headings: "Aileron Bold", sans-serif
$font-weight-heading: 400
$font-style-headings: normal
$font-text: "Aileron UltraLight", sans-serif
$font-size-large: clamp(3rem, 1.255rem + 3.121vw, 5rem)
$breakpoint-xxl: 1400px
$breakpoint-xl: 1200px
$breakpoint-lg: 992px
$breakpoint-lg-md: 834px
$breakpoint-md: 768px
$breakpoint-md-sm: 686px
$breakpoint-sm: 576px
$breakpoint-xs: 382px
$grid-width: 40%
$grid-width-medium: 70%
$grid-width-small: 80%
$grid-height: auto

// YELLOW / PINK GROUP:

$yellow-group-background: #dab500
$yellow-group-icon-color: #cb132d
$yellow-group-gradient-color: linear-gradient(#830bd2, #c30eb0, #cb132d, #da5a14, #dab500)
$rose: #830bd2
$light-pink: #c30eb0
$yellow: #dab500
$orange: #da5a14
$red: #cb132d

// BLUE / ORANGE GROUP:

$blue-group-background: #001051
$blue-group-icon-color: #844c60
$blue-group-gradient-color: linear-gradient(#001051, #16095f, #4d0666, #844c60, #ab7e7e)
$dark-blue: #001051
$light-blue: #16095f
$purple: #4d0666
$dark-rose: #844c60
$pastel-rose: #ab7e7e

// GREY GROUP:

$grey-group-background: #9da6d1
$grey-group-icon-color: $dark-color
$grey-group-gradient-color: linear-gradient(#9da6d1, #afb8e4, #e4dedf, #accc9b, #9ab989)
$grey-light-color: #e4dedf
$light-blue: #afb8e4
$pastel-blue: #9da6d1
$pastel-dark-green: #9ab989
$pastel-aqua-green: #accc9b

// GREEN / ROSÈ GROUP:

$green-group-background: #8ac5c8
$green-group-icon-color: #e08a8f
$green-group-gradient-color: linear-gradient(#b0d8db, #fcdadc, #8ac5c8, #F3E5E4, #e08a8f)
$aqua-green: #b0d8db
$aqua-rose: #fcdadc
$pastel-green: #8ac5c8
$light-rose: #F3E5E4
$rose: #e08a8f
